/* Large desktop */
@media (min-width: 1200px) {
	#hm-motto h1{
		font-size:74px;
		line-height:74px;
	}
	
	.hm-button-container img{
		width:170px;
		margin-left:-20px;
	}
	
	.hm-button-right{
		left:-20px;	
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
}